body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  overflow: hidden;
  display: flex;
  height: 100vh;
}

.left-panel {
  width: 25%;
  height: 400px;
  box-sizing: border-box;
}

.left-panel img {
width: 350px;
  height: 100vh;
  object-fit: cover;
}

.center-panel {
  width: 400px;
  /*background: #5acece;*/
  text-align: center;
  padding: 20px;
  padding-left: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.center-panel h1 {
  text-align: left;
  margin-left: 40px;
}

.svg-container {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}

.svg-container img {
  width: 40px;
  height: 20px;
  border: 2px solid black;
  border-radius: 15px;
  padding: 5px;
}

hr.new1 {
  width: 500px;
  border-top: 1px solid rgb(59, 56, 56);
  margin-top: 30px;
  margin-left: 10px;
}

.tick {
  width: 100px;
  height: 100px;
  text-align: left;
}

.tick img {
  margin-top: 10px;
}

.tick1 {
  width: 15px;
  height: 15px;
  margin-top: -80px;
  margin-bottom: 10px;
  padding: -10px;
}

.tick1 .tick12 {
  width: 500px;
  margin-top: 50px;
  margin-left: 250px;
  padding: 10px;
}

.tick-marks {
  margin-top: 50px;
}

.center-panel1 {
  margin-top: 100px;
  margin-left: 70px;
  width: 60%;
  text-align: center; 
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.svg-container1 {
  display: flex;
  justify-content: space-around;
  margin-top: -140px;
  border: 2px solid black;
  border-radius: 15px;
}

.svg-container1 .img1 {
  background-color: rgb(236, 180, 77);
  width: 80px;
  border-radius: 15px 0 0 15px ;
}

.svg-container1 .img2 {
  background-color: rgb(51, 236, 26);
  width: 80px;
}
.svg-container1 .img3 {
  background-color: rgb(80, 80, 76);
  width: 80px;
  border-radius: 0 15px 15px 0 ;
}

.v2, .v3, .v4 {
  border-left: 1px solid rgb(22, 22, 22);
  height: 30px;
  padding: 0;
}



.svg-container1 img {
  width: 20px;
  height: 20px;
  padding: 5px;
}

.v2 {
  border-left: 1px solid rgb(64, 68, 64);
  height: 600px;
  margin-top: 20px;
  margin-left: 90px;
}

.right-panel {
  width: 25%;
  margin-left: 90px;
  text-align: center;
  padding: 20px;
  box-sizing: border-box;
}

.right-panel-text {
  justify-content: center;
  margin-top: 140px;
}

.right-panel-text1 {
  margin-top: 100px;
}

.round .topic {
  font-size: x-large;
}

.round .second {
  font-size: medium;
  margin-top: 30px;
}

.round p {
  margin-top: 20px;
  margin-right:160px ;
}

.right-panel img {
  width: 40px;
  height: 40px;
  float: left;
}

@media (min-width: 600px) {
  .left-panel, .center-panel, .right-panel {
      width: 33.33%;
  }
}